*
    border: 1px solid #000
    box-sizing: border-box

body, html
    margin: 0
    background-image: url("./img/ocean.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    width: 100vw

ul
    padding: 0
    list-style: none

nav
    display: flex !important
    justify-content: space-between
    background-color: rgba(250,250,250,0.2)
    backdrop-filter: blur(3px)
    position: fixed
    top: 0
    width: 100%
    .logo
        display: flex
        justify-content: center
    ul
        display: flex
        justify-content: space-between

    .icon
        display: flex
        justify-content: center

.bh
    margin: 150px 0 150px 0

.flex-con
    display: flex
    justify-content: center
    background-color: #454647
    padding: 5% 10%
    .pro
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        background-color: silver
        padding: 3%
        width: 25vw
        ul
            margin-top: 30px
            display: inline-block
        h1
            font-size: 24px
        img
            max-width: 100%
            border-radius: 50% 
    .intro
        display: flex
        flex-direction: column
        justify-content: space-evenly
        .intro-top
            background: #454647
            color: #E7E7E7
            padding: 2%
        .intro-buttom
            background: #100057
            color: #E7E7E7
            padding: 2%
            .fe-title
                margin-top: 50px
            .features
                background: #b1b2b3
                width: 100%
                display: flex
                justify-content: center
            ul
                display: flex
                justify-content: center

.gallery
    display: flex
    justify-content: center
    background-color: pink
    margin: 0

.contact
    background-color: wheat
    h1
        margin: 0
    ul
        margin: 0
        padding: 0
        list-style: none
