body{
    margin: 0;
    /* background-image: url("./img/ocean.jpg"); */
    width: 100vw;
}

nav{
    background-color: wheat;
    position: fixed;
    top: 0;
    left: 0;
}

.flex-con{
    background-color: salmon;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.flex-con > div {
    background-color: silver;
    padding: 20px;
    align-items: center;
}