*
    border: 1px solid #000
    box-sizing: border-box

body, html
    margin: 0
    scroll-behavior: smooth

a
    text-decoration: none

p
    font-size: 20px

h2
    padding-top: 6vh

#home
    background-image: url("./img/ocean.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    width: 100vw

#proPic
    width: 100%
    border-radius: 50%

#proPic:hover
    border: 8px solid rgba(255, 215, 0, 0.5)

#gallery
    .card-title
        font-size: 28px

ul
    padding: 0
    list-style: none

nav
    display: flex !important
    z-index: 1
    position: fixed
    width: 100%
    background-color: rgba(250,250,250,0.5)
    backdrop-filter: blur(3px)
    justify-content: center
    align-content: center
    height: 6vh
    ul
        display: flex !important
        align-content: center
        margin: auto
        a
            color: #555
    .nav-logo
        justify-content: center

.gallery
    .card:hover
        box-shadow: 3px 3px 5px rgba(255, 215, 0, 0.8)

footer
    div
        display: flex
        justify-content: center
        align-items: center
        height: 6vh
        color: rgb(240,240,240)
        background-color: rgba(20,20,20,0.6)
        backdrop-filter: blur(3px)
    a
        color: #FFD700
    i
        color: #e76565